snippet pres "markdown presentation template"
---
author: Marco Pacchialat
title: ${0: title}
date: ${1: date}
theme: solarized
<!--theme: Copenhagen-->
<!--colortheme: whale-->
---
endsnippet


snippet incls "incremental list"
::: incremental

- ${0: List}

:::
endsnippet


snippet $ "latex math"
$$ ${0: math} $$
endsnippet

